<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pwj.admin.mapper.UserMapper">
    <!--根据id查询学生信息-->
    <select id="selectUserByUsername" parameterType="String" resultMap="userResultMap">
        select * from user u
        where u.username = #{username}
    </select>

    <insert id="insertUserByUsernameAndPassword" parameterType="com.pwj.admin.model.entity.User"
            useGeneratedKeys="true" keyProperty="id">
        insert into user(id,username, password) values (#{id}, #{username}, #{password})
    </insert>

    <resultMap id="userResultMap" type="com.pwj.admin.model.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>
</mapper>